name: Deploy Motqen website to Droplet

on:
  push:
    branches: [$default-branch]
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js and pnpm
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install pnpm
        run: |
          corepack enable
          corepack prepare pnpm@latest --activate
          pnpm --version

      - name: Install dependencies
        run: pnpm install

      - name: Build Next.js app
        env:
          NODE_OPTIONS: --max_old_space_size=4096
          NEXT_PUBLIC_SANITY_PROJECT_ID: ${{ secrets.NEXT_PUBLIC_SANITY_PROJECT_ID }}
          NEXT_PUBLIC_SANITY_DATASET: ${{ secrets.NEXT_PUBLIC_SANITY_DATASET }}
          NEXT_PUBLIC_BASE_URL: ${{ secrets.NEXT_PUBLIC_BASE_URL }}
          NEXT_PUBLIC_SANITY_PERSPECTIVE: ${{ secrets.NEXT_PUBLIC_SANITY_PERSPECTIVE }}
          NEXT_PUBLIC_SANITY_READ_TOKEN: ${{ secrets.NEXT_PUBLIC_SANITY_READ_TOKEN }}
          SANITY_STUDIO_URL: ${{ secrets.SANITY_STUDIO_URL }}
          SANITY_STUDIO_PROJECT_ID: ${{ secrets.SANITY_STUDIO_PROJECT_ID }}
          SANITY_STUDIO_DATASET: ${{ secrets.SANITY_STUDIO_DATASET }}
          SANITY_API_TOKEN: ${{ secrets.SANITY_API_TOKEN }}
          SANITY_READ_TOKEN: ${{ secrets.SANITY_READ_TOKEN }}
          RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
          RESEND_FROM_EMAIL: ${{ secrets.RESEND_FROM_EMAIL }}
          CONTACT_EMAIL: ${{ secrets.CONTACT_EMAIL }}
          CSRF_SECRET: ${{ secrets.CSRF_SECRET }}
        run: pnpm run build

      - name: Prepare build files
        run: |
          mkdir -p build
          cp -r public .next/standalone/ build/
          cp -r .next/static build/.next/

      - name: Deploy to DigitalOcean Droplet
        uses: digitalocean/app_action/deploy@v2
        with:
         token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
