name: Deploy Motqen to Droplet

on:
  push:
    branches: [ "master" ]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Set up Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.16.0'

      # Step 3: Install pnpm
      - name: Install pnpm
        run: |
          corepack enable
          corepack prepare pnpm@latest --activate
          pnpm --version

      # Step 4: Install dependencies
      - name: Install dependencies with pnpm
        run: pnpm install

      # Step 5: Build the Next.js app
      - name: Build Next.js app
        env:
          NODE_OPTIONS: --max_old_space_size=4096 # Increase memory limit
        run: pnpm run build

      # Step 6: Prepare files for deployment
      - name: Prepare build files
        run: |
          mkdir -p build
          cp -r public .next/standalone/ build/
          cp -r .next/static build/.next/

      # Step 7: Deploy to Droplet
      - name: Deploy to Droplet
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.PUBLIC_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            rm -rf /var/www/MotqenProduction/*
            cp -r ~/build/* /var/www/MotqenProduction/
            pm2 restart motqen-app
